/*  src/components/routes/Landing.css */


:root{
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: rgb(175, 79, 231);
}

#sentence{
    font-size:2em;
    font-weight: 500;
    margin-top: 100px;
    margin-left: 30%;
}

.start-record{
    width:250px;
    background-color: rgb(4, 4, 49);
    color: #fff;
    margin-left: 575px;
    margin-top: 100px;
    border-radius: 1em;
    font-size:30px;
}

.start-record:hover{
    background-color: red;
}



